.table thead th .header-inline {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	gap: 0.25rem;
}

.table thead th {
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.5rem;
}

.table td {
	vertical-align: middle;
	padding: 0.5rem;
	word-wrap: break-word;
}

.table thead th i {
	font-size: 0.85rem;
	vertical-align: middle;
}

.table td:last-child {
	white-space: nowrap;
}
